<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.devnotes.redis.dao.UserDao" >
    <select id="getLists" resultType="com.devnotes.redis.entity">
        SELECT * FROM users
    </select>
    <insert id="add" parameterType="com.devnotes.redis.entity">
        INSERT  INTO users (name,sex,age)VALUES (#{name},#{sex},#{age})
    </insert>
</mapper>